Repository emacsmirror/org-re-reveal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

test:
  script:
  - make check

pages:
  stage: deploy
  script:
  - emacs --batch -l /root/.emacs -l test-cases/publish.el
  artifacts:
    paths:
    - public

Fix typos
  Readme.org
Due: pages

Remove redundant header
  Readme.org
Due: pages

Fix specific Docker version
  .gitlab-ci.yml
Due: pages

Update to Docker image 6.2.0
  test-cases/publish.el
Due: test, pages

Bump year
  org-re-reveal.el
Due: test, pages

Improve error messages
  org-re-reveal.el
Due: test, pages

Add check for single file export
  org-re-reveal.el
Due: test, pages

Improve wording
  Readme.org
Due: pages

Bump year
  CHANGELOG.org
Due: pages

Version 2.12.1
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Ignore public
  .gitignore
Due: none

Clarify header/footer for all slides
  Readme.org
Due: pages

Break long lines
  org-re-reveal.el
Due: test, pages

Generate head preamble before MathJax script tags
  org-re-reveal.el
Due: test, pages

Document MathJax config
  Readme.org
Due: pages

Version 2.12.2
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Update link for org-plus-contrib
  Makefile
Due: test

Wording
  Readme.org
Due: pages

Add test cases
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-revealjs-version.html
  test-cases/test-revealjs-version.org
Due: test, pages

Add variable org-re-reveal-revealjs-version
  org-re-reveal.el
Due: test, pages

Document changes
  CHANGELOG.org
Due: pages

Remove failing test case
  org-re-reveal-tests.el
Due: test, pages

Set variables to nil
  org-re-reveal.el
Due: test, pages

Rename parameter
  org-re-reveal.el
Due: test, pages

Prefer choice
  org-re-reveal.el
Due: test, pages

Remove obsolete variable org-re-reveal-extra-js
  org-re-reveal.el
Due: test, pages

Fix highlight CSS path for 4.x
  org-re-reveal.el
Due: test, pages

Simplify function
  org-re-reveal.el
Due: test, pages

Initialize plugins in version-specific way
  org-re-reveal.el
Due: test, pages

Rename test case
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-revealjs4.html
  test-cases/test-revealjs4.org
Due: test, pages

Do not embed plugin file for single file export
  org-re-reveal.el
Due: test, pages

Add and use guess for reveal.js version
  org-re-reveal.el
Due: test, pages

Document reveal.js 4
  Readme.org
Due: pages

Replace variables with properties
  org-re-reveal.el
Due: test, pages

Adapt test case
  test-cases/expect-extra-scripts.html
  test-cases/test-extra-scripts.org
Due: pages

Document removal of org-re-reveal-script-files
  CHANGELOG.org
  Readme.org
Due: pages

Stylistic changes
  org-re-reveal.el
Due: test, pages

Version 3.0.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Fix direction attributes of links
  org-re-reveal.el
Due: test, pages

Path conditions:
  test: any of: Makefile, **/*.el
  pages: any of: **/*.org, **/*.el, .gitlab-ci.yml
